body {
  background: rgb(235, 234, 234);
}

h1 {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 27pt;
  font-weight: normal;
}

td {
  text-align: center;
  margin: 3px;
  padding: 5px;
  border: 0.5px solid #666;
}

th {
  margin: 3px;
  padding: 5px;
  border: 0.5px solid #666;
}

p {
  margin-top: 4px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
}
